.create-turf-container {
    background-color: #000;
    color: #76ff03;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    overflow-y: auto;
  }
  
  .ion-text-field {
    --padding-start: 10px;
    --padding-end: 10px;
    --background: #333;
    --color: #ffffff;
    --border-radius: 10px;
    --border: 1px solid #76ff03;
    margin-bottom: 15px;
    margin: 0 auto 16px auto;
  }
  
  .full-width {
    width: calc(100% - 20px) !important;
  }
  
  .half-width {
    width: calc(52% - 30px) !important;
    display: inline-block;
  }
  
  .form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .pitches {
    margin-right: 1;
    width: calc(50% - 20px)
  }
  
  .ion-text-field ion-input::placeholder,
  .ion-text-field ion-textarea::placeholder {
    color: #97fb57;
    opacity: 1;
  }
  
  .image-button {
    background-color: #76ff03;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .image-button:hover {
    background-color: #64dd17;
  }
  
  .image-preview {
    margin-top: 10px;
    width: 80%;
    height: auto;
    border-radius: 5px;
  }
  
  .create-button {
    background-color: #76ff03;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .create-button:hover {
    background-color: #64dd17;
  }
  
  .success-message,
  .error-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
  }
  
  .success-message {
    background-color: #4caf50;
    color: #ffffff;
  }
  
  .error-message {
    background-color: #f44336;
    color: #ffffff;
  }
  